<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleSizeClasses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9FD908F1D19AE43008B540F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9FD90A31D19AE43008B540F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9FD90AE1D19AE43008B540F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
